In [ ]:
import mysql.connector
from mysql.connector import Error

# Function to create a connection to MySQL
def create_connection(host_name, user_name, user_password, db_name=None):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

# Function to execute a query (for modifying schema, inserting data, etc.)
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

# Function to execute a read query (fetching data)
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

# Example usage
# Update the following variables with your MySQL details
host_name = "localhost"
user_name = "your_username"
user_password = "your_password"
db_name = "your_database_name"

# Create connection
connection = create_connection(host_name, user_name, user_password, db_name)

# Create a new database schema
create_db_query = "CREATE DATABASE IF NOT EXISTS new_schema_name"
execute_query(connection, create_db_query)

# Create a table in the new schema
create_table_query = """
CREATE TABLE IF NOT EXISTS users (
  id INT AUTO_INCREMENT,
  name TEXT NOT NULL,
  age INT,
  gender TEXT,
  PRIMARY KEY (id)
) ENGINE = InnoDB
"""
execute_query(connection, create_table_query)

# Insert records into the table
insert_users_query = """
INSERT INTO users (name, age, gender)
VALUES 
  ('John Doe', 28, 'Male'),
  ('Jane Smith', 34, 'Female')
"""
execute_query(connection, insert_users_query)

# Query the database
select_users_query = "SELECT * FROM users"
users = execute_read_query(connection, select_users_query)

for user in users:
    print(user)

# Modify the schema (e.g., adding a column)
alter_table_query = "ALTER TABLE users ADD COLUMN email TEXT"
execute_query(connection, alter_table_query)