In [37]:
import mysql.connector
from mysql.connector import Error

# Function to create a connection to MySQL
def create_connection(host_name, user_name, user_password, db_name=None):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

# Function to execute a query (for modifying schema, inserting data, etc.)
def execute_query(connection, query, data=None):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

# Function to execute a read query (fetching data)
def execute_read_query(connection, query, data=None):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

# Example usage
# Update the following variables with your MySQL details
host_name = "localhost"
user_name = "root"
user_password = "StarGazer97@"
db_name = "lifedb"

# Create connection
connection = create_connection(host_name, user_name, user_password, db_name)

Connection to MySQL DB successful

In [38]:
# Show Tables
# Query to show tables in the database
show_tables_query = "SHOW TABLES"

# Execute the query and fetch the result
tables = execute_read_query(connection, show_tables_query)

# Print the result
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
books
games
movies
music
tvseries

In [47]:
# Query to describe the table (replace 'your_table_name' with the actual table name)
describe_table_query = "DESCRIBE books"

# Execute the query and fetch the result
columns = execute_read_query(connection, describe_table_query)

# Print the column names and types
print("Column Information:")
for column in columns:
    print(f"Column Name: {column[0]}, Type: {column[1]}")
    
print(f"Number of columns: {len(columns)}")

Column Information:
Column Name: ISBN, Type: varchar(100)
Column Name: title, Type: varchar(100)
Column Name: writer_lastname, Type: varchar(100)
Column Name: writer_firstname, Type: varchar(100)
Column Name: genre, Type: varchar(20)
Column Name: publication_date, Type: date
Number of columns: 6

In [50]:
# Query to Insert rows into Table
insert_query = """
INSERT INTO books (ISBN, title, writer_lastname, writer_firstname, genre, publication_date)
VALUES (%s, %s, %s, %s, %s, %s)
"""

# Data to be inserted
new_book = ("9780312367541", "A Wrinkle in Time", "L'engle", "Madeleine", "Fantasy", "1962-01-01")

# Execute the insert query
execute_query(connection, insert_query, new_book)

The error '1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%s, %s, %s, %s, %s, %s)' at line 2' occurred

In [28]:
# Query to select all rows from a table
select_query = "SELECT * FROM books"  

# Execute the query and fetch results
results = execute_read_query(connection, select_query)

# Print the results
for row in results:
    print(row)